@import url('https://fonts.googleapis.com/css?family=Raleway');

$background-dark: #fd81de;
$background-yellow: #ffc400;

#about {
    color: $background-yellow;
    text-decoration: underline;
}

p {
    margin: 3% 20%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
}