<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-sm="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

  <div fxFlex="50" style="margin: 10px;">
    <div id="heading">Contact Form</div>
    <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <md-input-container class="full-width"
         dividerColor="{{(formErrors.name) ? 'warn' : 'primary' }}" >
          <input mdInput formControlName="name" placeholder="Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.name)">
              {{formErrors.name}}
            </span>
          </md-hint>
        </md-input-container>

        <md-input-container class="full-width"
        dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}" >
            <input mdInput formControlName="email" placeholder="e-Mail" type="email" required>
            <md-hint>
              <span [hidden]="!(formErrors.email)">
                {{formErrors.email}}
              </span>
            </md-hint>
        </md-input-container>

        <md-input-container class="full-width" dividerColor="{{(formErrors.contactnum) ? 'warn' : 'primary'}}">
            <input mdInput formControlName="contactnum" placeholder="Contact Number" type="tel" pattern="[0-9]*" required>
            <md-hint>
              <span [hidden]="!(formErrors.contactnum)">
                {{formErrors.contactnum}}
              </span>
            </md-hint>
        </md-input-container>

        <p>
          <md-select formControlName="gender" placeholder="Gender" required>
            <md-option>select</md-option>
            <md-option value="male">Male</md-option>
            <md-option value="female">Female</md-option>
          </md-select>
          <md-hint>
            <span [hidden]="!(formErrors.gender)" style="font-size: 12px">gender is required!</span>
          </md-hint>
        </p>

        <p>
          <md-input-container class="full-width">
            <textarea style="resize: none; height: 300px" mdInput formControlName="comment" placeholder="Type Your Comment"></textarea>
            <md-hint>
              <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}
              </span>
            </md-hint>
          </md-input-container>
        </p>
        <button type="submit" md-button class="background-primary" [disabled]="contactForm.invalid">Submit</button>
    </form>
  </div>
</div>
